* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 4rem;
  color: #698269;
}

p {
  font-weight: 400;
  font-size: 1.1rem;
  color: #808080;
}

.btn {
  background-color: #698269;
  color: #FFFFFF;
  padding: 15px 50px;
  font-weight: 500;
}

.btn:hover {
  background-color: #A5B4A5;
  color: #FFFFFF;
  opacity: 0.6;
}

#preview {
  background-image: url('assets/images/blob.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-preview {
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}

.slider-preview img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#members {
  width: 100%;
  background-color: #8FA68F;
  opacity: 0.8;
  text-align: center;
}

.slider-members {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider-members img {
  width: 100%;
  height: auto;
  display: inline-block;
  margin: 0 20px;
}
